/* ========== CSS Reset & Box Sizing ========== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================ Body Styles ================= */

h1 {
  color: red;
}